<ul id="contact-list">
  <% @contacts.each do |contact| %>
    <%= render 'listing', contact: contact %>
  <% end %>
</ul>

<%= link_to 'New Contact', new_user_contact_path(current_user), id: 'new-contact-link', remote: true %>

<div id='new-contact-form'>

</div>
